body {
  background-color: #222222;
}

.create-account-container {
  background-color: #f0eee5;
  width: 400px;
  margin: 20vh auto;
  border-radius: 5px;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textbox, .signup {
  display: block;
  width: 300px;
  margin: 0 auto;
  height: 40px;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 5px;
  font-size: medium;
}

.signup {
  font-size: large;
  background-color: #03DAC5;
  color: #222222;
  cursor: pointer;
}

a {
  text-decoration: none;
}
