body {
  background-color: #222222;
}

.reset-container {
  width: 400px;
  margin: 20vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: white;
}

.textbox, .text, .reset {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.textbox, .reset {
  height: 40px;
  font-size: medium;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 5px;
}

.reset, a {
  font-size: large;
  text-decoration: none;
  background-color: #03DAC5;
  cursor: pointer;
}

.text {
  font-size: small;
  text-align: center;
  margin-bottom: 10px;
}